<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sample.codepath.com.sampleapp"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.codepath.fearless.fearlessapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Place a phone call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Get owner phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Get owner user name -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>



    <!--
        https://developers.google.com/cloud-messaging/android/client#manifest
        the application needs to keep the processor from sleeping when a message is received from
        Google Cloud Messaging (GCM).
        -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!--
          GET_ACCOUNTS is only required for GCM on devices running Android lower than
          4.0.4. You may leave out this permission if you are targetting 4.0.4+.
        -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />



    <uses-permission android:name="com.codepath.fearless.fearlessapp.permission.C2D_MESSAGE" />



    <uses-permission android:name="com.codepath.fearless.fearlessapp.permission.PRIVATE" />

    <!-- Permission to draw the layout on top of other applications  -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".FearlessApplication">
        <activity android:name=".FearlessIntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!-- FB UI kit integration -->

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id" />
        <meta-data android:name="com.facebook.accountkit.ClientToken"
                   android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data android:name="com.facebook.accountkit.ApplicationName"
                   android:value="@string/app_name" />


        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity"
                  android:screenOrientation="portrait"
                  tools:replace="android:theme"
                  android:theme="@style/LoginThemePurple"/>
    </application>

</manifest>